/* ----------------------------------------------------------------------- */
/* HEADER */
/* ----------------------------------------------------------------------- */

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  }
  header.navbar {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px); 
    /* padding: 15px 0;  */
    transition: all 0.3s ease-in-out;
}
  
  header.navbar .navbar-brand img {
    width: 90px; 
  }
  header.navbar .navbar-brand2 img {
    width: 90px; 
    margin-left: 20px; 
  }
  #header.header-scrolled {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    background: #fff;
  }
  
  #header .logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  #header .logo h1 a,
  #header .logo h1 a:hover {
    color: #222222;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 80px;
  }
  
  /* @media (max-width: 1050px) {
    #header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
      backdrop-filter: blur(10px);
      padding: 10px 0;
    }
  
    #header .logo h1 {
      font-size: 28px;
    }
  
    .text-white {
      font-size: 1.3rem; 
    }
    .nav-link-name {
      font-size: 28px; 
    }
    header.navbar .navbar-brand2 img {
      display: none ;
    }
  } */
/* ----------------------------------------------------------------------- */
/* GENERAL */
/* ----------------------------------------------------------------------- */
html {
  scroll-behavior: smooth;
  overscroll-behavior: contain;
}

body {
  font-family:  sans-serif;
  /* font-size: 22px; */

}
.navbar-nav {
  display: flex;
  justify-content: flex-start; 
  width: 100%;
  margin: 0;
  padding: 0;
}
.nav-item {
  display: inline-block;
  margin: 0 5px; 
}
/* .nav-link-name {
  font-size: 16px; 
  font-weight: bold;
} */

.nav-item .nav-link {
  display: flex;
  justify-content: flex-start;
  
  padding: 8px 12px; 
}


.navbar-nav .nav-item .nav-link:hover {
  color: #3498db;
}


.navbar-nav .nav-item .nav-link:active,
.navbar-nav .nav-item .nav-link:focus {
  color: #5faee3; 
  background-color: rgba(0, 0, 255, 0.1); 
}


.navbar-nav .nav-item .nav-link {
  transition: color 0.3s, background-color 0.3s;
}

.navbar-mobile {
  background-color: rgba(37, 37, 38, 0.8);  
}

.nav-item .nav-link {
  display: flex;
  justify-content: flex-start;
  padding: 6px 10px; 
  font-size: 14px;
  font-weight: 500;
  color: white;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #000000;
    z-index: 9999;
    top: 100%;
    left: 0;
    min-width: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
}


.nav-item.navbar-dropdown:hover .dropdown-menu {
    display: block;
}


/* Estilo del dropdown */

.navbar-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #000000;
  z-index: 9999;
  top: 100%;
  left: 0;
  min-width: auto; 
  width: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
  border-radius: 5px; 
}


.nav-item.navbar-dropdown:hover .dropdown-menu {
  display: block;
}

/* Estilo para los enlaces del dropdown */

.dropdown-menu li a {
  display: flex;
  align-items: center;
  padding: 8px 12px; 
  color: white;
  text-decoration: none;
  font-size: 14px; 
  line-height: 1.5; 
}


.dropdown-menu li a:hover {
  background-color: #333;
}


.dropdown-menu li a img {
  margin-right: 8px;
  width: 16px;
}


.dropdown-menu {
  display: inline-block;
  padding: 0;
  margin: 0;
  background-color: #444;
  border-radius: 5px;
  width: auto;  
  white-space: nowrap; 
}

/* cards */
.card-custom {
  width: 800px; 
  height: 500px;
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 250px; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card-body {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.card-text {
  text-align: justify;
  color: #fff;
}


/* Boton */

#final {
  position: fixed; 
  bottom: 0px;     
  left: 50%;        
  transform: translateX(-50%);
  z-index: 10;       
}

#final .nav-link {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 30px;
  border: 2px solid #1a73e8;
  color: white;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

#final .nav-link:hover {
  border-color: #0f5fc2;
}

#final .icon-arrow {
  margin-left: 10px;
}


/* Titulo */

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f7fbfe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-family:  sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: #222222;
  white-space: nowrap;
}

.section-title h2::before,
.section-title h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #3498db;
  display: inline-block;
}

.section-title h2::before {
  margin: 0 15px 10px 0;
}

.section-title h2::after {
  margin: 0 0 10px 15px;
  margin-left: 15px;
}

.section-title p {
  margin: 15px 0 0 0;
}
.section-titleF {
  text-align: center;
  padding-bottom: 30px;
}

.section-titleF h2 {
  font-family:  sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: #222222;
  white-space: nowrap;
}

.section-titleF h2::before,
.section-titleF h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #3498db;
  display: inline-block;
}

.section-titleF h2::before {
  margin: 0 15px 10px 0;
}

.section-titleF h2::after {
  margin: 0 0 10px 15px;
  margin-left: 15px;
}

.section-titleF p {
  margin: 15px 0 0 0;
}

.custom-float {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 10px;
  right: 40px;
  /*  25d366 FFF 3498db*/
  background-color: transparent;
  /* color: #3498db; */
  /* border: 1px solid #3498db; */
  border-radius: 50px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 30px;
  /* box-shadow: 2px 2px 3px #999; */
  z-index: 1000;
  animation: bounce 2s infinite; 
  transition: transform 0.3s ease;
}

.custom-float img {
  width: 90%; 
  height: 90%;
  object-fit: contain; 
}

.custom-float:hover {
  transform: scale(1.1); 
  background-color: transparent; 
  border-color: #3498db;
  cursor: pointer;
}

.certificacion {
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

.custom-float:hover .certificacion {
  opacity: 1;
  visibility: visible;
}

.body2 {
  zoom: 0.8;
}
.body3 {
  zoom: 0.7;
}

.margen {
  margin-top: 200px; 
}
/* @media (max-width: 1050px) {
  .navbar-toggle {
    position: fixed; 
    top: 30px; 
    right: 30px; 
}
  .card-custom {
    min-height: 200px;
  }

  .card-body {
    padding: 15px;
    text-align: justify; 
  }
  .section-title h2 {
    font-size: 18px; 
    line-height: 1.2; 
    padding: 0 10px; 
  }
  .section-title h2::before,
  .section-title h2::after {
    width: 4px; 
  }
} */
@media (max-width: 1050px) {
  #header {
    padding: 10px 0;
  }
  #header .logo h1 {
    font-size: 28px;
  }
  .text-white,
  .nav-link-name {
    font-size: 1.1rem;
  }
  header.navbar .navbar-brand2 img {
    display: none;
  }
  .navbar-toggle {
    position: fixed;
    top: 30px;
    right: 30px;
  }
  .card-custom {
    min-height: 200px;
  }
  .card-body {
    padding: 15px;
    text-align: justify;
  }
  .section-title h2 {
    font-size: 16px;
    line-height: 1.2;
    padding: 0 10px;
  }
  .section-title h2::before,
  .section-title h2::after {
    width: 4px;
  }
  .descripcion {
    margin-top: 50px;
    margin-left: -20px;
    margin-bottom: -30px;
  }
  .margen {
    margin-top: 260px;
  }
}
/* ----------------------------------------------------------------------- */
/* INICIO */
/* ----------------------------------------------------------------------- */

/* Titulos Inicio */

.section-title2 {

}

.section-title2 h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: white; 
  white-space: nowrap;
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.section-title2 h2::before {
  content: "";
  width: 50px; 
  height: 4px; 
  background: rgb(211, 183, 42);
  display: inline-block;
}
.section-title5 {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
  justify-content: space-between;
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
}

.section-title5 h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: white; 
  white-space: nowrap;
  display: flex;
  align-items: center; 
  gap: 10px; 
}
.left-title {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  align-self: flex-start;
  margin-bottom: auto; 
}

.right-title {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  align-self: flex-end; 
  margin-top: auto;
  right: 40px;
  bottom: -160px;
}


.section-title5 h2::before {
  content: "";
  width: 50px; 
  height: 4px; 
  background: rgb(211, 183, 42);
  display: inline-block;
}



/* Boton inicio */

.custom-button-container {
  position: fixed;
  z-index: 10;
  bottom: 80px;
  right: 80px;
}

.custom-button-container .nav-link { 
  background-color: rgba(0, 0, 0, 0.6); 
  color: white;
  padding: 15px 30px; 
  border-radius: 5px;
  font-size: 1.2rem; 
  font-weight: bold; 
  border: 3px solid rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s ease, border-color 0.3s ease; 
  text-decoration: none; 
}

.custom-button-container .nav-link:hover {
  background-color: #3498db;
  border-color: #1a73e8; 
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  /* rgba(0, 0, 0, 0.6) rgba(255, 255, 255, 0.5)  */
  border-top: 20px solid white; 
  position: absolute;
  left: 50%;
  bottom: 80px; 
  transform: translateX(-50%);
  animation: bounce 1.5s infinite; 
}


/* titulo video */

/* .section-title4 {
  position: absolute;
  bottom: 90px; 
  left: 5px; 
  text-align: left;
} */
.section-title4 {
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
  width: auto;
}



.section-title4 h2 {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Orbitron', sans-serif; */
  /* font-family: 'Pacifico', cursive; */
  /* font-family: 'Lora', serif; */
  /* font-family:  sans-serif; */
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: white; 
  white-space: nowrap;
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.video-container {
  --color_37: 0, 128, 255; 
  position: relative; 
  width: 100%;
  height: 100%;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.video-overlay {
  --color_37: 0, 45, 60; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--color_37), 0.3);
  pointer-events: none;
}
.overlay {
  --color_37: 0, 0, 0; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--color_37), 0.5);
  pointer-events: none;
}




/* nosotros  */
.stats-container {
  display: block;
  max-width: 600px;
  margin: auto;
  text-align: left;
}

.stat-item {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin-bottom: 20px;
}

.stat-icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.stat-content {
  display: inline-block;
  vertical-align: middle;
  max-width: 70%;
}

.stat-number {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  display: block;
}

.stat-text {
  font-size: 16px;
  color: white;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Servicios inicio */

.servicio-span {
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100vh;
  margin-right: 200px;
}
.servicio-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}
.servicio-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.servicio-card {
    width: 10px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid blue;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.5);
}

.servicio-imagen {
  position: absolute;
  right: 200px; 
  top: 50%; 
  transform: translateY(-50%);
  width: 550px; 
  margin-top: 40px;
}

.servicio-imagen img {
  width: 100%;
  height: auto;
  display: block;
}


/* contacto inicio */

.section-title6 {
  text-align: center;
  padding-bottom: 30px;
}

.section-title6 h2 {
  font-family:  sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: white;
  white-space: nowrap;
}

.section-title6 h2::before,
.section-title6 h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #3498db;
  display: inline-block;
}

.section-title6 h2::before {
  margin: 0 15px 10px 0;
}

.section-title6 h2::after {
  margin: 0 auto 10px auto;
  margin-left: 15px;
}

.form-card2 {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  padding-bottom: 50px;
  margin-left: 50px;
  position: relative; 
  overflow: hidden; 
}
.form-card2::before {
  content: "";
  position: absolute;
  background: rgba(60, 97, 173, 0.3); 
  right: -60px;
  top: -40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.form-card2:hover {
  box-shadow: 0 0 24px #000;
}

.form-control-rounded {
  border-radius: 10px; 
  padding: 10px;
  border: 1px solid #ddd;
}

.form-card2 input,
.form-card2 textarea {
  color: #000;
  caret-color: #000;
}
.form-card2 input:focus,
.form-card2 textarea:focus {
  color: #000 ;
}

.form-card2 input::placeholder,
.form-card2 textarea::placeholder {
  color: #000;
  opacity: 1;
}

/* rgba(0, 0, 0, 0.5) */
button.btn-dark2 {
  border-radius: 5px;
  padding: 10px 20px;
  background: rgba(60, 97, 173, 0.3); 
  margin-left: 250px;
  margin-bottom: -40px;
  color: black !important;
  
}
button.btn-dark2:hover {
  background: #3498db;
  color: white !important; 
}


.for1 {
  position: relative;
}
/* .photo2 {
  display: none !important;
} */
 .foter {
  margin-top: 120px !important;
 }

@media (max-width: 429px) {

  .section-title2 h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: white; 
    white-space: nowrap;
    display: flex;
    align-items: center; 
    gap: 10px; 
    margin-top: 100px;
  }
  .section-title2 h2::before {
    content: "";
    width: 20px; 
    height: 4px; 
    background: rgb(211, 183, 42);
    display: inline-block;
  }
  

 }


@media (max-width: 1023px) { 
  .custom-button-container{
    display: none ;
  }
  /* .custom-button-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    right: auto; 
    text-align: center;
  } */

  /* .custom-button-container .nav-link {
    padding: 12px 25px;
    font-size: 1rem;
  } */
  .arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    /* rgba(0, 0, 0, 0.6) rgba(255, 255, 255, 0.5)  */
    border-top: 20px solid white; 
    position: absolute;
    left: 50%;
    bottom: 150px; 
    transform: translateX(-50%);
    animation: bounce 1.5s infinite;
  }
  .section-title4 {
    max-width: 90%; 
    position: absolute;
    top: 60%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .section-title4 h2 {
    font-size: 20px;
    line-height: 1.2;
    white-space: normal; 
    text-align: center;
    word-break: nowrap; 
    justify-content: justify;
    margin: 0 auto;
    padding: -10px -20px;
  }
  .section-title2 h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: white; 
    white-space: nowrap;
    display: flex;
    align-items: center; 
    gap: 10px; 
    margin-top: -350px;
  }
  .section-title2 h2::before {
    content: "";
    width: 20px; 
    height: 4px; 
    background: rgb(211, 183, 42);
    display: inline-block;
  }


  .stats-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px; 
    justify-items: center;
    width: 100%;
    padding: 10px;
    margin-left: -330px;
    margin-top: 80px;
  }

  
  .stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
  }

  .stat-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    margin-left: 10px;
  }

  .stat-number {
    font-size: 22px;
    font-weight: bold;
    color: white;
  }

  .stat-text {
    font-size: 14px;
    color: white;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    max-width: 120px;
    display: block; 
    text-align: center;
  }

  
  .movil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    transform: none !important;
    width: 100%;
  }
  /* .photo1 {
    display: none !important;
  } */
  .section-title5 h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: white; 
    white-space: nowrap;
    display: flex;
    align-items: center; 
    gap: 10px; 
  }
  .left-title {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    align-self: flex-start;
    margin-bottom: auto; 
  }
  
  .right-title {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    align-self: flex-end; 
    margin-top: auto;
    right: 30px;
    bottom: -160px;
  }
  
  
  .section-title5 h2::before {
    content: "";
    width: 20px; 
    height: 4px; 
    background: rgb(211, 183, 42);
    display: inline-block;
  }

  .section-titleF h2 {
    font-size: 14px;
    line-height: 1.2;
    padding: 0 10px;
  }
  .section-titleF h2::before,
  .section-titleF h2::after {
    width: 4px;
  }
  .t1 {
    display: none;
  }

  .form-card2 {
    margin-left: 0;  
    margin-right: 0;
    padding: 20px;  
    max-width: none;
    margin-top: -80px; 
  }
  .form-group input,
  .form-group textarea {
    width: 100%;
    font-size: 0.8rem; /* Ajuste de fuente */
  }

  button.btn-dark2 {
    margin-left: 150px;      
    text-align: center;
    display: block;
    height: 20px; 
    padding: 2px 10px;
    font-size: 12px;
    margin-bottom: -25px;
}

  .for1 {
    margin-top: 40px; 
  }

}
@media (max-width: 517px) { 

  button.btn-dark2 {
    margin-left: 45px;      
    text-align: center;
    display: block;
    height: 20px; 
    padding: 2px 10px;
    font-size: 12px;
    margin-bottom: -45px;
}
}

@media (max-width: 1020px) { 
  .arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    /* rgba(0, 0, 0, 0.6) rgba(255, 255, 255, 0.5)  */
    border-top: 20px solid white; 
    position: absolute;
    left: 48%;
    bottom: 150px; 
    transform: translateX(-50%);
    animation: bounce 1.5s infinite;
  }
}

/* ----------------------------------------------------------------------- */
/* NOSOTROS */
/* ----------------------------------------------------------------------- */

/* equipo */
.swiper-slide .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.swiper-slide .member .member-img {
  position: relative;
  overflow: hidden;
}

.swiper-slide .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
}

.swiper-slide .member .social a {
  transition: color 0.3s;
  color: #222222;
  margin: 0 10px;
  padding-top: 8px;
  display: inline-block;
}

.swiper-slide .member .social a:hover {
  color: #3498db;
}

.swiper-slide .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.swiper-slide .member .member-info {
  padding: 25px 15px;
}

.swiper-slide .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 12px;
  color: #222222;
  word-wrap: break-word;
  white-space: nowrap; 
}

.swiper-slide .member .member-info span {
  display: block;
  font-size: 10px;
  font-weight: 400;
  color: #aaaaaa;
  white-space: nowrap; 
}

.swiper-slide .member:hover .social {
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
 position: absolute;
  color: white;
  font-size: 18px;
  width: 20px;
  /* #3498db rgba(0, 0, 0, 0.6)*/
  background-color:#3498db ;
  top: calc(50% - 20px);
  border: none;
}
.swiper-button-prev {
  left: 50px;
}

.swiper-button-next {
  right: 50px; 
}

.swiper-button-prev::before {
  content: "<";
  font-size: 24px;
  color: #000;
  font-weight: bold;
}

.swiper-button-next::before {
  content: ">";
  font-size: 24px;
  color: #000;
  font-weight: bold;
}

/* ----------------------------------------------------------------------- */
/* SERVICIOS */
/* ----------------------------------------------------------------------- */
.servicio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.servicio-card {
  width: 100%; 
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.servicio-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.servicio-overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
  padding: 20px;
  text-align: center;
}
.servicio-title {
  font-family:  sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: #fff;
  white-space: nowrap;
}
.servicio-text {
  font-size: 18px;
  line-height: 1.5;
}
.resaltado {
  color: white;
  font-weight: bold;
}
.hidden {
  display: none;
}
.servicio-btn {
  background: white;
  color: black;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}
.servicio-btn:hover {
  background: orange;
}

.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.services .icon-box::before {
  content: "";
  position: absolute;
  background: #e1f0fa;
  right: -60px;
  top: -40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: all 0.3s;
  z-index: -1;
  
}

.services .icon-box:hover::before {
  
  /* colores card:#0979b0, #7cdaf9, #0cb7f2, rgba(99,146,225,255), rgba(60,97,173,255) */
  background: rgba(60,97,173,255);
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  
}
.services .icon-box:hover {
  box-shadow: 0 0 28px #000;
}

.services .icon {
  margin: 0 auto 20px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #3498db;
  transition: all 0.3s ease-in-out;
}

.services .icon i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
}

.services .title {
  font-family:  sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #111;
}

.services .description {
  font-family:  sans-serif;
  /* font-size: 18px; */
  line-height: 28px;
  margin-bottom: 0;
}

.services .icon-box:hover .title a,
.services .icon-box:hover .description {
  color: #fff;
}

.services .icon-box:hover .icon {
  background: #fff;
}

.services .icon-box:hover .icon i {
  color: #3498db;
}
.diagrama-img {
  width: 100%;
  height: 500px; 
  display: block;
  animation: moveSide 1s infinite; 
  transition: transform 0.3s ease;
}
@keyframes moveSide {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(10px); }
}
/* @keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes fadeIn {
  0% { opacity: 0; transform: scale(0.8); }
  100% { opacity: 1; transform: scale(1); }
} */



/*--------------------------------------------------------------
# More Services
--------------------------------------------------------------*/
.more-services {
  padding-top: 20px;
}

.more-services .card {
  border: 0;
  padding: 160px 20px 20px 20px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.more-services .card-body {
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  transition: ease-in-out 0.4s;
  border-radius: 5px;
}

.more-services .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.more-services .card-title a {
  color: #222222;
}

.more-services .card-text {
  color: #5e5e5e;
}

.more-services .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.4s;
}

.more-services .read-more a:hover {
  text-decoration: underline;
}

.more-services .card:hover .card-body {
  background: #3498db;
}

.more-services .card:hover .read-more a,
.more-services .card:hover .card-title,
.more-services .card:hover .card-title a,
.more-services .card:hover .card-text {
  color: #fff;
}

/* titulo software */

.section-title3 h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #000;
}

.section-title3 h2::before,
.section-title3 h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #3498db;
  display: inline-block;
}

/* iconos servicios */

.number-box {
  transition: transform 0.3s ease-in-out;
}

.number-box:hover {
  transform: scale(1.2);
}
/* ----------------------------------------------------------------------- */
/* PROYECTOS */
/* ----------------------------------------------------------------------- */
/* Titulo proyecto */

.title-proyecto {
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3em; 
  line-height: 1.5em;
  font-size: 16px; 
  margin-bottom: 0;
  padding-bottom: 0;
}

/* card proyecto */
.proyecto {
  padding-top: 0 !important;
  margin-top: 0 !important; 
}

.proyecto .title-proyecto {
  margin-top: 5px !important;
  margin-bottom: 5px !important; 
  font-size: 16px !important;
}

.proyecto .card-category.subtitle {
  margin-top: 0px !important; 
  font-size: 14px !important;
}

.proyecto .portfolio-links {
  text-align: center;
  z-index: 4;
}

.proyecto .portfolio-links a {
  color: #fff;
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.proyecto .portfolio-links a:hover {
  color: #3498db;
}

.img-gallery a{
  width: 100%;
  cursor: pointer;
  transition: 1s;
}

.img-gallery a:hover{
  transform: scale(1.05);
}

.ful-img{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0,0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.ful-img span{
  position: absolute;
  top: 12%;
  right: 5%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
.ful-img img{
  width: 90%;
  max-width: 1000px;
}
.info-proyecto {
  margin-top: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

/* ICONOS PROYECTO */

.electric-icons-container {
  position: absolute;
  bottom: 40px;
  left: 55%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  margin-top: 5px !important;
}
.electric-icon {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  /* background-color: rgba(0, 0, 0, 0.8); */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px !important;
}
.electric-icon img {
  filter: grayscale(100%) brightness(1000%);
}

@media (max-width: 768px) {
  .proyecto .card-category.subtitle {
    display: none; 
  }

  .electric-icons-container {
    position: absolute;
    bottom: 20px;
    left: 55%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  }
}

/* ----------------------------------------------------------------------- */
/* CLIENTES */
/* ----------------------------------------------------------------------- */

/* clientes */

.swiper-slide .form-card0 .member-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100px; 
}

.swiper-slide .form-card0 .member-img img {
  max-width: 100%; 
  max-height: 100%; 
  object-fit: contain;
}

.swiper-slide .form-card0 .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 10px;
  color: #222222;
  word-wrap: break-word;
  white-space: nowrap; 
}

#map {
  width: 100%;
  height: 500px;
  min-height: 500px;
  border-radius: 10px;
}
.content-wrap2 {
  text-align: center;
  padding: 20px;
}
.popup-img {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  object-fit: contain;
  background-color: #f5f5f5; 
  padding: 5px; 
  display: block;
  margin: 15px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: scale(0.9);
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}


/* ----------------------------------------------------------------------- */
/* CONTACTO */
/* ----------------------------------------------------------------------- */

/* contacto */
.form-card0 {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}
.form-card0:hover {
  box-shadow: 0 0 28px rgba(0, 0, 0, 0.5);
}

.form-control0-rounded {
  border-radius: 10px; 
  padding: 10px;
  border: 1px solid #ddd;
}
.form-card {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

.form-card::before {
  content: "";
  position: absolute;
  background: rgba(60, 97, 173, 0.3); 
  right: -60px;
  top: -40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.form-card:hover {
  box-shadow: 0 0 28px #000;
}

.form-control-rounded {
  border-radius: 10px; 
  padding: 10px;
  border: 1px solid #ddd;
}


button.btn-dark {
  border-radius: 5px;
  padding: 10px 20px;
  background: rgba(60, 97, 173, 0.3); 
  color: black;
}

button.btn-dark:hover {
  background: #3498db; 
}


.col-12.col-lg-8 {
  position: relative;
}

/* icono contacto */

.icon-hover {
  color: #3498db;
  transition: color 0.3s ease; 
}

.icon-hover:hover {
  color: #06131c;
}

/* Estilo del botón flotante */

.whatsapp-float {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 10px;
  left: 40px;
  /*  25d366 FFF 3498db*/
  background-color: #FFF;
  color: #3498db;
  border: 1px solid #3498db;
  border-radius: 50px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
  animation: bounce 2s infinite; 
  transition: transform 0.3s ease;
}
.whatsapp-float:hover {
  transform: scale(1.1); 
  background-color: #3498db; 
  color: #FFF;  
  border-color: #3498db;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
/* ----------------------------------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------------------------------- */

/* footer */

#unique-title {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

#unique-title::after {
  content: '';
  display: block;
  width: 280px;
  height: 3px;
  background: #007bff;
  margin: 10px auto 0;
  border-radius: 5px;
}

#unique-title {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .form-footer {
      width: 100%;
      padding: 0 10px;
  }

  .form-footer .row {
      flex-direction: column;
      gap: 15px;
  }

  .form-footer .form-control {
      width: 100%;
  }

  .form-footer .btn-footer {
      align-self: center;
      width: auto;
  }
}

@media (max-width: 480px) {
  #unique-title {
      font-size: 1.1rem;
      letter-spacing: 1px;
  }

  .form-footer .form-control {
      font-size: 0.9rem;
  }

  .form-footer .btn-footer {
      font-size: 0.9rem;
      padding: 0.5rem 1rem;
  }
}