
.navbar-nav {
    display: flex;
    justify-content: flex-start; 
    width: 100%;
    margin: 0;
    padding: 0;
}
.nav-item {
    display: inline-block;
    margin: 0 5px; 
}


.nav-item .nav-link {
    display: flex;
    justify-content: flex-start;
    
    padding: 8px 12px; 
}

@media (max-width: 1024px) {
    .navbar-toggle {
        position: fixed; 
        top: 30px; 
        right: 30px; 
    }
}
.navbar-nav .nav-item .nav-link:hover {
    color: #3498db;
}


.navbar-nav .nav-item .nav-link:active,
.navbar-nav .nav-item .nav-link:focus {
    color: #5faee3; 
    background-color: rgba(0, 0, 255, 0.1); 
}


.navbar-nav .nav-item .nav-link {
    transition: color 0.3s, background-color 0.3s;
}

.navbar-mobile {
    background-color: rgba(37, 37, 38, 0.8);  
}

/* header*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  }
  header.navbar {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px); 
    padding: 15px 0; 
    transition: all 0.3s ease-in-out;
}
  
  header.navbar .navbar-brand img {
    width: 70px; 
  }
  #header.header-scrolled {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    background: #fff;
  }
  
  #header .logo h1 {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  #header .logo h1 a,
  #header .logo h1 a:hover {
    color: #222222;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 80px;
  }
  
  @media (max-width: 768px) {
    #header {
      background: #fff;
    }
  
    #header .logo h1 {
      font-size: 28px;
    }
  
    .text-white {
      font-size: 1.3rem; 
    }
  }

 


/* fin header */


.nav-item .nav-link {
  display: flex;
  justify-content: flex-start;
  padding: 6px 10px; 
  font-size: 14px;
  font-weight: 500;
  color: white;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #000000;
    z-index: 9999;
    top: 100%;
    left: 0;
    min-width: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
}


.nav-item.navbar-dropdown:hover .dropdown-menu {
    display: block;
}


/* Estilo del dropdown */
.navbar-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #000000;
  z-index: 9999;
  top: 100%;
  left: 0;
  min-width: auto; 
  width: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
  border-radius: 5px; 
}


.nav-item.navbar-dropdown:hover .dropdown-menu {
  display: block;
}

/* Estilo para los enlaces del dropdown */
.dropdown-menu li a {
  display: flex;
  align-items: center;
  padding: 8px 12px; 
  color: white;
  text-decoration: none;
  font-size: 14px; 
  line-height: 1.5; 
}


.dropdown-menu li a:hover {
  background-color: #333;
}


.dropdown-menu li a img {
  margin-right: 8px;
  width: 16px;
}


.dropdown-menu {
  display: inline-block;
  padding: 0;
  margin: 0;
  background-color: #444;
  border-radius: 5px;
  width: auto;  
  white-space: nowrap; 
}



/* Boton */

#final {
  position: fixed; 
  bottom: 0px;     
  left: 50%;        
  transform: translateX(-50%);
  z-index: 10;       
}

#final .nav-link {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 30px;
  border: 2px solid #1a73e8;
  color: white;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

#final .nav-link:hover {
  border-color: #0f5fc2;
}

#final .icon-arrow {
  margin-left: 10px;
}


/* Titulo */
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f7fbfe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: #222222;
  white-space: nowrap;
}

.section-title h2::before,
.section-title h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #3498db;
  display: inline-block;
}

.section-title h2::before {
  margin: 0 15px 10px 0;
}

.section-title h2::after {
  margin: 0 0 10px 15px;
}

.section-title p {
  margin: 15px 0 0 0;
}

@media (max-width: 768px) {
  .section-title h2 {
    font-size: 18px; 
    line-height: 1.2; 
    padding: 0 10px; 
  }
  .section-title h2::before,
  .section-title h2::after {
    width: 4px; 
  }
}

/* Collapse */
#multiCollapse.show + .d-flex a i::before {
  content: "\f077"; 
}


#multiCollapse.show + .d-flex {
  margin-top: 1rem;
}



/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.services .icon-box::before {
  content: "";
  position: absolute;
  background: #e1f0fa;
  right: -60px;
  top: -40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: all 0.3s;
  z-index: -1;
  
}

.services .icon-box:hover::before {
  background: #3498db;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  
}

.services .icon {
  margin: 0 auto 20px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #3498db;
  transition: all 0.3s ease-in-out;
}

.services .icon i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #111;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.services .icon-box:hover .title a,
.services .icon-box:hover .description {
  color: #fff;
}

.services .icon-box:hover .icon {
  background: #fff;
}

.services .icon-box:hover .icon i {
  color: #3498db;
}

/*--------------------------------------------------------------
# More Services
--------------------------------------------------------------*/
.more-services {
  padding-top: 20px;
}

.more-services .card {
  border: 0;
  padding: 160px 20px 20px 20px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.more-services .card-body {
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  transition: ease-in-out 0.4s;
  border-radius: 5px;
}

.more-services .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.more-services .card-title a {
  color: #222222;
}

.more-services .card-text {
  color: #5e5e5e;
}

.more-services .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.4s;
}

.more-services .read-more a:hover {
  text-decoration: underline;
}

.more-services .card:hover .card-body {
  background: #3498db;
}

.more-services .card:hover .read-more a,
.more-services .card:hover .card-title,
.more-services .card:hover .card-title a,
.more-services .card:hover .card-text {
  color: #fff;
}



/* cards */
.card-custom {
  width: 800px; 
  height: 500px;
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 250px; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card-body {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.card-text {
  text-align: justify;
  color: #fff;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .card-custom {
    min-height: 200px;
  }

  .card-body {
    padding: 15px;
    text-align: justify; 
  }
}

/* contacto */


.form-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}
.form-card:hover {
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}


.form-control-rounded {
  border-radius: 10px; 
  padding: 10px;
  border: 1px solid #ddd;
}


button.btn-dark {
  border-radius: 5px;
  padding: 10px 20px;
}


.col-12.col-lg-8 {
  position: relative;
}

/* icono contacto */
.icon-hover {
  color: #3498db;
  transition: color 0.3s ease; 
}

.icon-hover:hover {
  color: #06131c;
}

/* Estilo del botón flotante */

.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 10px;
  left: 40px;
  /*  25d366 FFF 3498db*/
  background-color: #FFF;
  color: #3498db;
  border: 1px solid #3498db;
  border-radius: 50px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
  animation: bounce 2s infinite; 
  transition: transform 0.3s ease;
}
.whatsapp-float:hover {
  transform: scale(1.1); 
  background-color: #3498db; 
  color: #FFF;  
  border-color: #3498db;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Titulos Inicio */
.section-title2 {
  text-align: center;
  padding-bottom: 30px;
}

.section-title2 h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: white; 
  white-space: nowrap;
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.section-title2 h2::before {
  content: "";
  width: 50px; 
  height: 4px; 
  background: rgb(211, 183, 42);
  display: inline-block;
}

/* Boton inicio */

.custom-button-container {
  position: fixed;
  z-index: 10;
  bottom: 80px;
  right: 80px;
}

.custom-button-container .nav-link { 
  background-color: rgba(0, 0, 0, 0.6); 
  color: white;
  padding: 15px 30px; 
  border-radius: 5px;
  font-size: 1.2rem; 
  font-weight: bold; 
  border: 3px solid #3498db;
  transition: background-color 0.3s ease, border-color 0.3s ease; 
  text-decoration: none; 
}

.custom-button-container .nav-link:hover {
  background-color: #3498db;
  border-color: #1a73e8; 
}

/* iconos servicios */
.number-box {
  transition: transform 0.3s ease-in-out;
}

.number-box:hover {
  transform: scale(1.2);
}


  /* Swiper proyecto */
  .swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 60%; 
    transform: translateY(-50%);
    width: 40px; 
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white; 
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
}


.swiper-button-prev {
    left: 15px; 
}

.swiper-button-next {
    right: 15px;
}

/* Card proyecto */
.card-proyecto {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

.card-proyecto:hover {
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}

.card-proyecto .card-text {
  font-size: 16px;
  color: #333;
  text-align: justify;
}

.card-proyecto hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 15px 0;
}

.card-proyecto .list-group-item {
  background: transparent;
  border: none;
  font-size: 17px;
  padding: 8px 0;
}

.card-proyecto .list-group-item i {
  color: #007bff;
  margin-right: 10px;
}

/* cards software */

.number-box2 {
  transition: transform 0.3s ease-in-out;
}

.number-box2:hover {
  transform: scale(1.05); 
}

/* footer */
#unique-title {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

#unique-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background: #007bff;
  margin: 10px auto 0;
  border-radius: 5px;
}

#unique-title {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .form-footer {
      width: 100%;
      padding: 0 10px;
  }

  .form-footer .row {
      flex-direction: column;
      gap: 15px;
  }

  .form-footer .form-control {
      width: 100%;
  }

  .form-footer .btn-footer {
      align-self: center;
      width: auto;
  }
}

@media (max-width: 480px) {
  #unique-title {
      font-size: 1.25rem;
      letter-spacing: 1px;
  }

  .form-footer .form-control {
      font-size: 0.9rem;
  }

  .form-footer .btn-footer {
      font-size: 0.9rem;
      padding: 0.5rem 1rem;
  }
}

