
.navbar-nav {
    display: flex;
    justify-content: flex-start; 
    width: 100%;
    margin: 0;
    padding: 0;
}
.nav-item {
    display: inline-block;
    margin: 0 5px; 
}


.nav-item .nav-link {
    display: flex;
    justify-content: flex-start;
    
    padding: 8px 12px; 
}

@media (max-width: 1024px) {
    .navbar-toggle {
        position: fixed; 
        top: 30px; 
        right: 30px; 
    }
}
.navbar-nav .nav-item .nav-link:hover {
    color: #3498db;
}


.navbar-nav .nav-item .nav-link:active,
.navbar-nav .nav-item .nav-link:focus {
    color: #5faee3; 
    background-color: rgba(0, 0, 255, 0.1); 
}


.navbar-nav .nav-item .nav-link {
    transition: color 0.3s, background-color 0.3s;
}

.navbar-mobile {
    background-color: rgba(37, 37, 38, 0.8);  
}

/* header*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  }
  header.navbar {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px); 
    padding: 15px 0; 
    transition: all 0.3s ease-in-out;
}
  
  header.navbar .navbar-brand img {
    width: 70px; 
  }
  #header.header-scrolled {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    background: #fff;
  }
  
  #header .logo h1 {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  #header .logo h1 a,
  #header .logo h1 a:hover {
    color: #222222;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 80px;
  }
  
  @media (max-width: 768px) {
    #header {
      background: #fff;
    }
    #header .logo h1 {
      font-size: 28px;
    }
  }

/* fin header */


.nav-item .nav-link {
  display: flex;
  justify-content: flex-start;
  padding: 6px 10px; 
  font-size: 14px;
  font-weight: 500;
  color: white;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #000000;
    z-index: 9999;
    top: 100%;
    left: 0;
    min-width: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
}


.nav-item.navbar-dropdown:hover .dropdown-menu {
    display: block;
}


/* Estilo del dropdown */
.navbar-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #000000;
  z-index: 9999;
  top: 100%;
  left: 0;
  min-width: auto; /* Elimina el ancho mínimo fijo */
  width: auto;  /* Ajusta automáticamente el ancho al contenido */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
  border-radius: 5px; 
}


.nav-item.navbar-dropdown:hover .dropdown-menu {
  display: block;
}

/* Estilo para los enlaces del dropdown */
.dropdown-menu li a {
  display: flex;
  align-items: center;
  padding: 8px 12px; 
  color: white;
  text-decoration: none;
  font-size: 14px; 
  line-height: 1.5; 
}


.dropdown-menu li a:hover {
  background-color: #333;
}


.dropdown-menu li a img {
  margin-right: 8px;
  width: 16px;
}


.dropdown-menu {
  display: inline-block;
  padding: 0;
  margin: 0;
  background-color: #444;
  border-radius: 5px;
  width: auto;  
  white-space: nowrap; 
}



/*  */






  